.unilabel-content canvas[id^="unilabeltype-imageboard-canvas"] {
    margin: 10px;
    border: solid 1px #555;
    box-shadow: 5px 5px 10px 0 #aaa;
}
.unilabel-imageboard-list .row {
    margin-bottom: 10px;
}
.unilabel-imageboard-list-button {
    margin-top: 10px;
    margin-bottom: 0;
}
.unilabel-imageboard-list-nr,
.unilabel-imageboard-list-title {
    margin: auto 10px;
}
.btn.unilabeltype-imageboard-gridtoggler,
.btn.unilabeltype-imageboard-resizer {
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 1px;
    width: 170px;
    padding: 2px;
}
.unilabeltype-imageboard-controllbuttons {
    margin-bottom: 38px;
}


li#section-0 {
    border: solid 0 red;
}

.unilabel-imageboard-list-collapsable .card.card-body {
    background-color: #eee;
}

.koordinaten {
    position: absolute;
    top: 0;
    width: 50px;
    height: 25px;
    z-index: 1;
    border: solid 0;
    text-align: center;
    color: #fff;
}